.cardItem {
    float: left;
    border: 1px solid #ababab;
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 1px 1px 5px #0000002b;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.title{
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #2f4858;
    font-family:sans-serif;
    font-weight: bold;
}