
.item-count {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

.container-quantity {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.p-quantity {
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-top: 1rem;
}

.btn-quantity {
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 1px solid #f6ae2d;
    border-radius: 15%;
    cursor: pointer;
    background-color: white;
    margin-top: 1rem;
}

.btnComprar {
    background-color: #f6ae2d;
    color: white;
    border: none;
    margin-left: 10px;
}

.boton{
    color: #2f4858;
    background-color: #f6ae2d;
    border-radius: 15%;
    justify-content: center;
}