.title{
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #2f4858;
    font-family:sans-serif;
    font-weight: bold;
}

.cart-container {
    padding: 0 0 8rem 0;
}

.ctable-container {
    border: 0.8px solid var(#2f4858);
    margin: 1rem .8rem;
    display: flex;
    gap: 10rem;
    font-size: 0.9rem;
    padding: 1rem 4rem;
    justify-content: center;
}

.ctable-item {
    display: grid;
}

.ctable-item p {
    font-size: 1.2rem;
}


.img-cart {
    width: 5.5rem;
}

.boton{
    color: #2f4858;
    background-color: #f6ae2d;
    border: none;
    justify-content: center;
}

@media screen and (max-width: 1050px) {
    .ctable-container {
        gap: 4rem;
    }
}

@media screen and (max-width: 700px) {
    .ctable-container {
       flex-direction: column;
       align-items: center;
       text-align: center;
       gap: 1rem;
       margin: 1rem 2rem;
    }

    .total-container {
        display: grid;
        margin: 0;
        justify-content: center;
    }

    .alinear{
        display: flex;
        flex-direction: row;
    }
    
}